<ol class="items-list">
  {{#each feats as |feat id|}}
       <li class="item" data-item-id="{{feat._id}}">
          <div class="feat-grid">
            <div class="feat-name">
                {{> editButton isLocked=../isLocked
                    label=feat.name
                }} {{feat.name}}
            </div>
            <div class="feat-utility">
                {{#if (gt feat.system.adrenalineCost 0) }}
                   <a class="red"><i class="fa-solid fa-bolt"></i></a>
                {{/if}}

                {{#if (eq feat.system.usage 'quick')}}
                  {{localize 'OG.quickAction'}}
                {{else if (eq feat.system.usage 'full')}}
                  {{localize 'OG.fullTurn'}}
                {{/if}}
                {{> deleteButton isLocked=../isLocked
                    label=feat.name }}
            </div>
          </div>
        <div class="shortDesc">
            {{{feat.system.shortDesc}}}
        </div>
       </li>
    {{/each}}
</ol>